[user]
	name = Jocelyn Houle
	#email = 

[alias]
	ci = commit -a
	co = checkout
	st = status
	br = branch
	mg = merge --no-commit
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --

[color]
	ui = auto

[core]
	autocrlf = false
	fileMode = false
	excludesfile = ~/.gitignore

[gui]
	editor = subl

[push]
	default = upstream
